name: Unzip File

on:
  push:
    paths:
      - "*.zip"

jobs:
  unzip:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Unzip file
        run: |
          unzip -o *.zip -d extracted

      - name: Commit extracted files
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add extracted
          git commit -m "Auto extract zip" || echo "No changes"
          git push
